In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
data_df = pd.read_csv('results.csv')
cols_to_keep = ['raceId', 'driverId', 'constructorId', 'grid','positionOrder']
df = data_df[cols_to_keep]

In [28]:
moy_grid_race = data_df[["raceId","driverId","grid"]]

In [29]:
def calculate_mean_grid_race(line):
    raceID = line["raceId"]
    driveID = line["driverId"]
    mean_grid = moy_grid_race.loc[(df["driverId"] == driveID) & (df["raceId"] == raceID), "grid"].mean()
    return mean_grid

In [30]:
df["moy_grid_by_race"] = df.apply(calculate_mean_grid_race, axis = 1)

In [32]:
moy_grid_constructor = data_df[["raceId","constructorId","grid"]]

In [33]:
def calculate_mean_grid_constructor(line):
    constructorID = line["constructorId"]
    driveID = line["driverId"]
    mean_grid = moy_grid_constructor.loc[(df["driverId"] == driveID) & (df["constructorId"] == constructorID), "grid"].mean()
    return mean_grid

In [34]:
df["moy_grid_by_constructor"] = df.apply(calculate_mean_grid_constructor, axis = 1)

In [3]:
count_race_times = data_df[["raceId", "driverId"]].value_counts()

In [10]:
def racer_number_times_raced(line):
    raceID = line["raceId"]
    driveID = line["driverId"]
    if(count_race_times.loc[raceID][driveID]==3):
        print(line["driverId"])
    return count_race_times.loc[raceID][driveID]

In [35]:
# df["number_times_raced"] = df.apply(racer_number_times_raced, axis = 1)

In [36]:
df

,raceId,driverId,constructorId,grid,positionOrder,number_times_raced,moy_grid_by_race,moy_grid_by_constructor
0,18,1,1,1,1,1,1.0,4.745455
1,18,2,2,5,2,1,5.0,9.157143
2,18,3,3,7,3,1,7.0,10.871429
3,18,4,4,11,4,1,11.0,6.500000
4,18,5,1,3,5,1,3.0,7.600000
...,...,...,...,...,...,...,...,...
25835,1096,854,210,12,16,1,12.0,15.340909
25836,1096,825,210,16,17,1,16.0,12.702970
25837,1096,1,131,5,18,1,5.0,3.410000
25838,1096,849,3,20,19,1,20.0,16.672131
25839,1096,4,214,10,20,1,10.0,9.954545

In [27]:
t = df[["driverId","moy_grid_by_race"]]
t.loc[2]

driverId            3.0
moy_grid_by_race    7.0
Name: 2, dtype: float64

In [24]:
count_race_times.loc[792][501]

3